default: &default
  adapter: postgresql
  encoding: unicode
  pool: 100
  host: localhost
  username: <%= ENV.fetch("RDS_USERNAME", "postgres") %>
  password: <%= ENV.fetch("RDS_PASSWORD", "postgres") %>
development:
  <<: *default
  database: shortened_urls_development

test: &test
  <<: *default
  database: shortened_urls_test

production: